<div class="container text-center jumbotron">
    <div class="row"><h1>Welcome to <b>Your Course</b> App </h1></div>
    <div class="row">
        <%= link_to signup_path, class: "btn btn-danger" do%>
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        Sign up now
        <%end%>
    </div>
</div>

<div class="container text-center">
    <div class="row"<div class="row">
        <div class="col-xs-6">
            <h3>View course as Guest User</h3>
            <p>Browse and View Courses as a guest and sign up later</p>
            <div class="row">
                <%= link_to courses_path, class: "btn btn-success" do%>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                Browse all courses
                <%end%>
            </div>
        </div>
        <div class="col-xs-6">
            <h3>Sign in to your account</h3>
            <p>Update your courses, rate courses, view coordinators information</p>
            <div class="row">
                <%= link_to login_path , class: "btn btn-success" do%>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Log in to your account
                <%end%>
            </div>
        </div>
</div>