<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#courses">Courses</a></li>
         <li><a data-toggle="tab" href="#coordinators">Coordinator</a></li>
</ul>
        
<div class="tab-content">
    <div id="courses" class="tab-pane fade in active">
        <p class="container text-center">
            <div class="container text-left">
                <%= render 'courses/show_courses'%>
            </div>
        </p>
    </div>
        <div id="coordinators" class="tab-pane fade">
            <%if User.all.length == 1%>
                <h1>No co-ordinators available</h1>
            <%else%>
                <p><%= render 'users/index_users' %></p>
            <%end%>
        </div>
    </div>