<div class="col-md-6 col-md-offset-3">
        <% User.where.not(admin: true).each do |user| %>
            <div class="col-md-6 col-md-offset-3">
                <% if logged_in? and User.find(current_user.id).admin == true %>
                <div class="navbar-right">
                    <%= link_to user, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" do %>
                    <span class="glyphicon glyphicon-remove"></span>
                    Delete this User
                    <%end%>
                </div>
                <% end %>
                 <p>
                     <section class="user_info">
                        <%= gravatar_for(user,options = { size: 150 }) %>
                            <p>
                                 <h6> Coordinator name : <%= link_to user.name, user, class:"text-info" %> </h6>
                                        
                            </p>
                    </section>
            </div>
        <% end %>
</div>
    

