<% provide(:title, 'Coordinators') %>
<h1>All coordinators </h1>

<div class="container text-center">
    <%if User.all.length == 1%>
        <h1>No co-ordinators available</h1>
    <%else%>
        <%= render 'users/index_users' %>
    <%end%>
</div>