<div class= "container">
    <h1>Categories</h1>
    <div class="list-group">
        <% @categories.each do |category| %>
            <%= link_to category.name, category_path(:id => category.id), class:"list-group-item" %>
        <% end %>
    </div>
</div>