<div class= "container">
    <h1>Courses in Location <%=@location.locationName%></h1>
    <div class="list-group">
        <% @courses.each do |course| %>
            <%= link_to course.name, "#", class:"list-group-item" %>
        <% end %>
    </div>
</div>
