<footer class="footer container jumbotron">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <h4>Contact us</h4></br>
            <%= render 'messages/form' %>
            <small><b>Phone:</b> +61 3 9925 2000
            </br> <b>Address:</b> 124 La Trobe Street, Melbourne VIC 3000.
            </br><b>Hours:</b> Monday to Friday 8.30am - 5.30pm.</small>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h4>General Enquiries</h4></br>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h4>Useful Links</h4></br>
            <a href="https://www.rmit.edu.au/study-with-us">RMIT Course</a></br>
            <a href="http://www1.rmit.edu.au/students/it/support">RMIT Help Desk</a></br>
            <a href="https://www.rmit.edu.au/study-with-us/international-students">RMIT International</a></br>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h4>Media</h4></br>
            <div class="social_media_hover inline">
                <a href="#"><span class="fa fa-youtube" aria-hidden="true"></span>  Youtube</a>
            </div>
            <div class="social_media_hover inline">
                <a href="#"><span class="fa fa-twitter" aria-hidden="true"></span>  Twitter</a>
            </div>
            <div class="social_media_hover inline">
                <a href="#"><span class="fa fa-facebook-official" aria-hidden="true"></span>  Facebook</a>
            </div>
            <div class="social_media_hover inline">
                <a href="#"><span class="fa fa-instagram" aria-hidden="true"></span>  Instagram</a>
            </div>
            <div class="social_media_hover inline">
                <a href="#"><span class="fa fa-skype" aria-hidden="true"></span>  Skype</a>
            </div>
        </div>
        
    </div>
</footer>